[user]
	email = emajeru@users.noreply.github.com
	name = Edison Hanchell

[github]
	user = "emajeru"

[core]
	editor = "vim"
	excludesfile = ~/.gitignore_global

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[http]
	sslVersion = tlsv1.2
[color]
	ui = true
